Projeto de Visualização de Dados criado em conjundo com a instituição Unicesumar.
Conteúdo do curso de Banco de Dados.

In [5]:
# Importando bibliotecas
import pandas as pd

In [24]:
# Importando CSV
df_olimpiadas = pd.read_csv('dataset_olympics.csv')
df_regiao = pd.read_csv('noc_region.csv')

In [36]:
# Exibindo as primeiras linhas de um dataframe com head()
# head(). exibe as primeiras linhas de um conjunto de dados
print("Data Frame Olimpiadas")
display(df_olimpiadas.tail())

Data Frame Olimpiadas

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
69995,35656,Stuart Fitzsimmons,M,19.0,NaN,NaN,Great Britain,GBR,1976 Winter,1976,Winter,Innsbruck,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
69996,35656,Stuart Fitzsimmons,M,19.0,NaN,NaN,Great Britain,GBR,1976 Winter,1976,Winter,Innsbruck,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
69997,35657,"David Thomas ""Dave"" Fitzsimons",M,26.0,170.0,65.0,Australia,AUS,1976 Summer,1976,Summer,Montreal,Athletics,"Athletics Men's 10,000 metres",NaN
69998,35657,"David Thomas ""Dave"" Fitzsimons",M,30.0,170.0,65.0,Australia,AUS,1980 Summer,1980,Summer,Moskva,Athletics,"Athletics Men's 5,000 metres",NaN
69999,35658,Marek Fiurek,M,23.0,180.0,68.0,Czech Republic,CZE,1998 Winter,1998,Winter,Nagano,Nordic Combined,Nordic Combined Men's Team,NaN

In [38]:
# Exibindo as últimas linhas de um dataframe com tail()
# tail(). exibe as últimas linhas de um conjunto de dados
print("Data Frame Região")
display(df_regiao.tail())

Data Frame Região

    noc_region       reg        notes
225        YEM     Yemen          NaN
226        YMD     Yemen  South Yemen
227        YUG    Serbia   Yugoslavia
228        ZAM    Zambia          NaN
229        ZIM  Zimbabwe          NaN

In [40]:
# Exibindo quantidade de linhas e colunas de um dataframe com shape
# shape. exibe a quantidae de linhas e colunas de um conjunto de dados
display(df_olimpiadas.shape)
display(df_regiao.shape)

(70000, 15)

(230, 3)

In [46]:
# Apresentar estatísticas básicas das colunas do dataframe com describe()
df_regiao.describe()
# top: Valor mais frequente
# freq: Somente dados categóricos
# Dados categórico são dados que pode ser agrupado em categorias em vez de medido numericamente'''

       noc_region      reg                 notes
count         230      227                    21
unique        230      206                    21
top           AFG  Germany  Netherlands Antilles
freq            1        4                     1